section.main
    .container
        .row
            .col-lg-5.col-md-5.col-sm-12

                .main__content.main__content--about
                    p
                        | Onze mobiele grillfiets brengt pure kwaliteit en
                        | natuurlijke producten uit de Duitse keuken
                        | op elke evenement! Een eyecatcher & hoogtepunt
                        | voor uw buurtbarbecue, markt of festival?
                        | Wij verzorgen het!  Dankzij onze zelf voorziende
                        | grillfiets kunnen wij op elke gewenste locatie u
                        | bedienen van de lekkerste grill & curryworst
                        | die Duitsland te bieden heeft!
                    p
                        | Daarnaast serveren wij ook overheerlijke broodje
                        | beenham met honingmosterdsaus voorzien van
                        | het Beter Leven Keurmerk en broodje beefburger
                        | rundvlees uitsluitend gemaakt van
                        | 100% Holsteiner melkvee.


            .col-lg-7.col-md-7.col-sm-12
                .main__team
                    img()

