section.main
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12
                .main__content
                    .assortiment
                        .assortiment__element
                            .assortiment__element--foto
                                img(src='img/a_1.jpg')
                            .assortiment__element--descr
                                h3
                                    | Grill
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Accusamus eius et iure magni nesciunt nulla, pariatur qui
                                    | soluta tenetur voluptatibus? Adipisci aspernatur
                                    | dignissimos dolorem fugit natus pariatur perspiciatis
                                    | porro quas.
                        .assortiment__element
                            .assortiment__element--foto
                                img(src='img/a_2.jpg')
                            .assortiment__element--descr
                                h3
                                    | Grill
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Accusamus eius et iure magni nesciunt nulla, pariatur qui
                                    | soluta tenetur voluptatibus? Adipisci aspernatur
                                    | dignissimos dolorem fugit natus pariatur perspiciatis
                                    | porro quas.
                        .assortiment__element
                            .assortiment__element--foto
                                img(src='img/a_3.jpg')
                            .assortiment__element--descr
                                h3
                                    | Grill
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Accusamus eius et iure magni nesciunt nulla, pariatur qui
                                    | soluta tenetur voluptatibus? Adipisci aspernatur
                                    | dignissimos dolorem fugit natus pariatur perspiciatis
                                    | porro quas.
                        .assortiment__element
                            .assortiment__element--foto
                                img(src='img/a_4.jpg')
                            .assortiment__element--descr
                                h3
                                    | Grill
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Accusamus eius et iure magni nesciunt nulla, pariatur qui
                                    | soluta tenetur voluptatibus? Adipisci aspernatur
                                    | dignissimos dolorem fugit natus pariatur perspiciatis
                                    | porro quas.
                        .assortiment__element
                            .assortiment__element--foto
                                img(src='img/a_5.jpg')
                            .assortiment__element--descr
                                h3
                                    | Grill
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Accusamus eius et iure magni nesciunt nulla, pariatur qui
                                    | soluta tenetur voluptatibus? Adipisci aspernatur
                                    | dignissimos dolorem fugit natus pariatur perspiciatis
                                    | porro quas.