section.gallery
    .container
        .row
            .gallery__wrapper
                .gallery__element
                    a.gallery__element--img(href='img/g-1.jpg' data-fancybox='gallery')
                        img(src='img/g-1.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .gallery__element
                    a.gallery__element--img(href='img/g-2.jpg' data-fancybox='gallery')
                        img(src='img/g-2.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .gallery__element
                    a.gallery__element--img(href='img/g-3.jpg' data-fancybox='gallery')
                        img(src='img/g-3.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .gallery__element
                    a.gallery__element--img(href='img/g-4.jpg' data-fancybox='gallery')
                        img(src='img/g-4.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .gallery__element
                    a.gallery__element--img(href='img/g-5.jpg' data-fancybox='gallery')
                        img(src='img/g-5.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .gallery__element
                    a.gallery__element--img(href='img/g-6.jpg' data-fancybox='gallery')
                        img(src='img/g-6.jpg')
                    .gallery__element--descr
                        h3
                            | Grill
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.