header.header
    .container

        nav.header__navigation

            a#mobile-menu.header__trigger
                span
                span
                span

            //    вызов миксина в переменную 'list' с указаним элементов массива(названий страниц)
            - var list = ['HOME', 'OVER ONS', 'ASSORTIMENT', 'GALLERIJ', 'AGENDA', 'CONTACT'];
            - var link = ['index.html', 'about.html', 'assortment.html', '#', '#', '#', '#', '#'];
                +top-menu(list, link)