section.main
    .container
        .row
            .col-lg-5.col-md-5.col-sm-12
                h1.main__title
                    | MIJN GRILLFIETS
                .main__subtitle
                .main__content
                    p
                        | Onze mobiele grillfiets brengt pure kwaliteit en
                        | natuurlijke producten uit de Duitse keuken
                        | op elke evenement! Een eyecatcher & hoogtepunt
                        | voor uw buurtbarbecue, markt of festival?
                        | Wij verzorgen het!  Dankzij onze zelf voorziende
                        | grillfiets kunnen wij op elke gewenste locatie u
                        | bedienen van de lekkerste grill & curryworst
                        | die Duitsland te bieden heeft!
                    p
                        | Daarnaast serveren wij ook overheerlijke broodje
                        | beenham met honingmosterdsaus voorzien van
                        | het Beter Leven Keurmerk en broodje beefburger
                        | rundvlees uitsluitend gemaakt van
                        | 100% Holsteiner melkvee.
                .main__partners
                    span.main__partners--item
                        img(src='img/trmark-1.png')
                    span.main__partners--item
                        img(src='img/trmark-2.png')

            .col-lg-7.col-md-7.col-sm-12
                .main__video
                    video(controls='controls', poster='img/video-poster.png')
                        source(src='', type='video/ogg; codecs="theora, vorbis"')
                        source(src='', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                        source(src='', type='video/webm; codecs="vp8, vorbis"')
                        |    Тег video не поддерживается вашим браузером.
                        a(href='#') Download video

