.container {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @include breakpoint(max-width 1200px) {
        width: 1200px;
    }

    @include breakpoint(max-width 992px) {
        width: 990px;
    }

    @include breakpoint(max-width 770px) {
        width: 760px;
    }
}

.container {
    @extend %clearfix;
}
